<form action="/register" class="send-nick">
  <input placeholder="E-mail" type="" name="email">
  <button><b></b> Instagramm</button>
  <span class="error error-login"></span>
  <span class="error error-email"></span>
  <p style="display:none">Вам отправлено письмо с подтверждением вашего емайла</p>
</form>