<div class="photos">
  <%- photos.each do |photo| -%>
      <img class="imgitem" src="<%= photo.link -%>" style="opacity: 0; filter: alpha(opacity=50);" width="80" height="80" />
  <%- end -%>
</div>
<div class="links">
  <%= link_to 'позднее', {action: 'gallery', page: (@page - 1).to_s}, remote: true, class: 'prev' -%>
  <%= link_to 'ранее',   {action: 'gallery', page: (@page + 1).to_s}, remote: true, class: 'next' -%>
  <span class="line"></span>
</div>
