<p><%= %(Спасибо за подтверждение участия в конкурсе) if @action == 'accept' -%>
<%= %(Вы отказались от участия в конкурсе. Ваши данные были удалены из базы) if @action == 'cancel' -%></p>
<p>Сейчас произойдет переход на официальный канал конкурса</p>
<p>Если это не произойдет автоматически - кликните по ссылке ниже:</p>
